---
layout: layout-page
title: Blog
tags: page
---

<h1>{{title}} PAGE</h1>
<ul>
    {%- for item in collections.post -%}
        <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {%- endfor -%}
</ul>