<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{description}}">
    <script src="https://cdn.tailwindcss.com"></script> 
    <script src="/js/main.js"></script>
    <link rel="icon" href="/img/favicon.png">
    <title>{{title}}</title>
</head>
<body>
     
        
    <main>
        {{ content | safe }}
    </main>
</body>
</html>

